.App {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://i.ibb.co/8bvP2YT/photo-2021-11-29-20-10-13.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
